<a [routerLink]="['/jobs', id]" class="job-card">

  <h3 class="job-title">{{ title }}</h3>

  <div class="job-company">
    {{ company }}
  </div>

  <div class="job-meta">
    <span>{{ location }}</span>
    <span>{{ experience }}</span>
  </div>

  <div class="job-salary">
    {{ salary }}
  </div>

  <div class="tags-container">
    <div class="skills">
      @for (skill of skills; track skill){
        <span class="skill">
        {{skill}}
      </span>
      }
    </div>
    <div class="tags">
      @for (tag of tags; track tag){
        <span class="tag">
        {{tag}}
      </span>
      }
    </div>
  </div>

</a>
