<script src="header.ts"></script>
<header class="header"
        [class.hidden]="!isVisible"
        [class.home-page]="isHomePage">
  <div class="header-top">
    <div class="container">
      <div>📍 Україна</div>
      <div class="top-links">
        <a href="#">Для роботодавців</a>
        <a href="#">Допомога</a>
        <a href="#">УКР</a>
      </div>
    </div>
  </div>
  <nav class="nav">
    <div class="container nav-content">

      <div class="logo">
        <a href="/"> Work<span>Hub IT</span></a>
      </div>

      <ul class="nav-links">
        <li><a href="/jobs">Вакансії</a></li>
        <li><a href="/companies">Компанії</a></li>
        <li><a href="#">Резюме</a></li>
        <li><a href="#">Про нас</a></li>
      </ul>

      <div class="auth-buttons">
        <button class="btn btn-outline">Увійти</button>
        <button class="btn btn-primary">Розмістити вакансію</button>
      </div>

    </div>
  </nav>
</header>
