<div class="hero">
  <div class="container">
    <h1>Знайди роботу своєї мрії</h1>
    <p>Тисячі актуальних вакансій</p>

    <div class="search-box">
      <input
        type="text"
        placeholder="Посада або компанія"
        [(ngModel)]="searchValue"
        (keyup.enter)="onSearch()"
      />

      <input
        type="text"
        placeholder="Місто"
        [(ngModel)]="cityValue"
        (keyup.enter)="onSearch()"
      />
      <button (click)="onSearch()" class="btn-search">Шукати</button>
    </div>
  </div>
</div>
