<div class="auth-page">
  <div class="auth-left">
    <div class="brand">
      <h1>WorkHub IT</h1>
      <p>
        Знайди роботу в IT, керуй вакансіями та розвивай кар’єру разом з нами.
      </p>

      <div class="stats">
        <div class="stat">
          <h3>1k+</h3>
          <span>Вакансій</span>
        </div>

        <div class="stat">
          <h3>500+</h3>
          <span>Компаній</span>
        </div>

        <div class="stat">
          <h3>24/7</h3>
          <span>Доступ</span>
        </div>
      </div>
    </div>
  </div>

  <div class="auth-right">

    <div class="auth-card">

      <h2>
        @if (mode === 'candidate') {
          Вхід для кандидата
        } @else {
          Вхід для роботодавця
        }
      </h2>

      <p class="subtitle">
        @if (mode === 'candidate') {
          Введи свої дані для входу
        } @else {
          Увійдіть в акаунт компанії
        }
      </p>

      @if (errorMessage) {
        <p class="error">
          {{ errorMessage }}
        </p>
      }

      <div class="auth-switch">
        <button
          type="button"
          [class.active]="mode === 'candidate'"
          (click)="setMode('candidate')">
          Кандидат
        </button>

        <button
          type="button"
          [class.active]="mode === 'employer'"
          (click)="setMode('employer')">
          Роботодавець
        </button>
      </div>

      <form (ngSubmit)="onLogin()">

        <div class="form-group">
          <label>Email</label>
          <input type="email" [(ngModel)]="email" name="email" required />
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" [(ngModel)]="password" name="password" required />
        </div>

        <button class="login-btn" type="submit">
          @if (mode === 'candidate') {
            Увійти
          } @else {
            Увійти як роботодавець
          }
        </button>

      </form>

      <div class="divider">
        <span>або</span>
      </div>

      <div class="social-buttons">
        <button class="social-btn">Google</button>
        <button class="social-btn">GitHub</button>
      </div>

      <div class="switch-auth">
        Немає акаунта? <a routerLink="/register">Зареєструватися</a>
      </div>

    </div>

  </div>

</div>
