.categories, .jobs {
  padding: 60px 0;
}
.categories {
  padding: 60px 0;
}

.category-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
